
/* 
    Created on : Nov 6, 2013, 8:15:08 PM
    Author     : ckl
*/

body.routepoint-app {
    font-family: arial;
}

.routepoint-table {

}

td.even {
    background-color: gray;
}

td.odd {
    background-color: lightgrey;
}

tr.logrow * div {
    font-size: 14px;
    font-family: monospace;
    padding-left: 20px;
}

tr.logrow * div.logrowfirst {
    padding-top: 10px;
    font-family: arial;
}

tr.calltablerow * td {
    padding-top: 100px;
}

